body{
	background:#f3f4f4;
	font-size:1rem;
	font-family: 'Open Sans', sans-serif;
}

.m-t-1{
	margin-top: 1.5em;
}

.m-t-4-5{
    margin-top: 4.5em;
}

.p-chico{
    font-size: 13px !important;
}

.m-t-6{
	margin-top: 6em;
}

.m-t-2-5{
	margin-top: 2.5em;
}

.m-t-10{
	margin-top: 10em;
}

.m-t-13-5{
	margin-top: 13.5em;
}

.p-t-1{
    padding-top: 100px;
}

.m-t-2-6-n{
    margin-top: -2.6em;
}

.m-t-33{
    margin-top: 33em;
}

.m-t-3-4-n{
    margin-top: -3.4em;
}

.m-r-6-4-n{
    margin-right: -6.4em;
}

.m-r-2-n{
    margin-right: -2em;
}

.m-l-45{
    margin-left: 45%;
}

.m-t-2-l{
    margin-left: 2em;
}

.input-torneo{
    margin: 30px 0 30px 0;
}

.input-lg-more{
    height: 170px;
}

.tabla-centrada{
    width:83%;
}

.encavezados-tabla{
    background-color: #5cb85c;
    border-radius: 10px 10px 0 0;
    color: white;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

tbody{
    background-color: white;
    border-spacing:  35px;
}

.sin-bordes{
    border-style: hidden;
}

.letras-mas-grandes{
    font-size: 20px;
}

.header{
    background-color: #4caf50;
    height: 100px;
    box-shadow: 0 0 12px 1px #555555;
	font-size: 16px;
}

.display-1{
    color: white;
    font-size: 75px;
}

.display-2{
    color: white;
    font-size: 36px;
}

.display-3{
    font-size: 26px;
}

.display-4{
    color: #5cb85c;
    font-size: 46px;
}

.display-5{
    font-size: 30px;
}

.crear-contenido{
    margin-top: 400px;
}

.navbar-derecha{
    margin-right: 100px;
}

#logo_footer{
    height: 100px;
}

.list-unstyled li{
    font-size: 16px;
    color: #a5a5a5;
    margin-bottom: 10px;
}

.list-unstyled li a{
    color: #a5a5a5;
}

.list-unstyled li a:hover{
    color: #85858a;
    text-decoration: none;
}

.crear-contenido p{
    font-size: 25px;
}

#taquito-nerd{
    height:450px;
}

.margin-right{
    margin-right: 10px;
}

#fondo_loco{
	height: 435px;
	width: 1366px;
    z-index: -1;
    position: absolute;
	background-size: content;
	background-image: url("../img/membrete1.png");
    background-repeat: no-repeat;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #f2dede;
}

.navbar-default .navbar-nav > li > a{
	color: #ffffff;
}

.navbar-default{
    background-color: #4caf50 !important;
    border: 0;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #333333;
}

footer .footer-col {
    margin-bottom: 50px;
}

.circulo{
    margin: 50px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}

.circulo_elegido{
    border: 4px solid #5cb85c ;
    background: #ffc107 ;
}

.btn-warning{
    background-color: #ffc107;
    border-color: #ffc107;
}

.paso1{
    margin: -90px 0 0 -45px;
}

.paso2{
    margin: -90px 0 0 98px;
}

.paso3{
    margin: -90px 0 0 240px;
}

.paso4{
    margin: -90px 0 0 383px;
}

.buscar_equipo{
    background: url("../img/lupaverde.png") no-repeat;
    background-color: #ffffff;
    background-position: 95%;
}

.editar_equipo{
    background: url("../img/editar.png") no-repeat;
    background-color: #ffffff;
    background-position: 95%;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label span{
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url("../img/radio.png") left top no-repeat;
    vertical-align: middle;
    cursor:pointer;
}

input[type="radio"]:checked + label span{
    background: url("../img/radio.png") -34px top no-repeat;
}

label{
    font-size: 28px;
    font-weight: normal;
}

.empujar_izquierda{
    margin-left: 4em;
}

.empujar_izquierda_1{
    margin-left: 2.6em;
}

#myModal{
    background-color: rgba(44,  44,  44,  0.9);
}

.fondo-background{
    height: 700px;
    background: linear-gradient(white, #5cb85c);
}
