body{
	background:#65a767;
	font-size:1rem;
}


form{
	background: #ffffff;
	border-radius:4px;
	box-shadow:4px 4px 10px 1px #547355;
	padding:30px 0px;
}

.text-center{
	text-align: center;
}

.block{
	display: block;
}

.input-default{
	padding-left:20px;
	padding-top:5px;
	padding-bottom: 5px;
	border:none;
	background: #f9f9f9;
	font-size:1.7em;
	border-radius:4px;
	width:100%;
	display: inline-block;
	border: solid 2px transparent;
}

.input-default:focus{
	box-shadow: none;
	border: solid 2px #fec107;
	outline: none;
	background: white;
}
.container-input{
	padding-top:15px;
	padding-bottom: 15px;
}

.description-form{
	margin:0px;
}

.btn-send{
	text-transform: uppercase;
	background:#fec107;
	color:#fff;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
	padding-left:10px;
	font-size:1.8em;
	border:none;
	border-radius: 4px;
	box-shadow:4px 4px 10px 1px #cecece;
	width:100%;
}

.footer-form{
	color:white;
}

.row-form{
	margin-bottom:40px;
}

.solapa-rol{
	background: #f6f2f3;
	color:#65a767;
	width:110px;
	height:110px;
	display: inline-block;
	box-shadow:4px 4px 10px 1px #547355;
	border-radius:0px 0px 10px 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top:-55px;
}

.solapa-rol span{
	font-size: 4em;
	line-height:152px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
}

.row-solapa{
	margin-bottom:40px;
	text-align: center;
}



